#####################################################################
#	Displays
#####################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

######################################################################
#  Mini 12864Panel (with neopixel backlight leds)
######################################################################

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
#spi_bus: spi            # Some micro-controller boards may require an spi bus to be specified:
contrast: 63            # Alternatively, some micro-controller boards may work with software spi:
spi_software_mosi_pin: EXP2_6
spi_software_miso_pin: EXP2_1
spi_software_sclk_pin: EXP2_2
display_group: __voron_display_16x4

[output_pin beeper]
pin: EXP1_1

[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
color_order: BRG
initial_RED: 0.0
initial_GREEN: 0.6
initial_BLUE: 0.2



