[board_pins btt_skr3]
#mcu: skr3
aliases:

    # Stepper motor pins
    MOT0_EN=PD6,  MOT0_STEP=PD4,  MOT0_DIR=PD3,  MOT0_CS=PD5,   # M1 - X-MOT
    MOT1_EN=PD1,  MOT1_STEP=PA15, MOT1_DIR=PA8,  MOT1_CS=PD0,  # M2 - Y-MOT
    MOT2_EN=PE0,  MOT2_STEP=PE2,  MOT2_DIR=PE3,  MOT2_CS=PE1,  # M3 - Z-MOT
    MOT3_EN=PC7,  MOT3_STEP=PD15, MOT3_DIR=PD14, MOT3_CS=PC6,   # M4 - E0-MOT
    MOT4_EN=PD13, MOT4_STEP=PD11, MOT4_DIR=PD10, MOT4_CS=PD12,  # M5 - E1-MOT

    # Endstop pins
    X_MIN=PC1,
    Y_MIN=PC3,
    Z_MIN=PC0,
    E0_MIN=PC2,
    E1_MIN=PA0,

    # Fans
    FAN0=PB7, FAN1=PB6, FAN2=PB5,

    # Heaters
    BED_OUT=PD7, HE0=PB3, HE1=PB4,

    # Thermisors
    TB=PA1, T0=PA2, T1=PA3,

     # LED Control
    NEOPXL_3=<GND>, NEOPXL_2=PE6, NEOPXL_1=<5V>,

    # Inductive Probe
    PRB_1=<DCV>, PRB_2=<GND>, PRB_3=PB7,

    # BL Touch
    BLT_5=<GND>,
    BLT_4=<5V>,
    BLT_CTL=PE5,   # BL Touch servo pin
    BLT_2=<GND>,
    BLT_SNSR=PC13,  # BL Touch end stop pin

    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>
